@media (1024px <= width <= 1920px) {
  .TreatmentSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-block-start: 80px;
  }

  .TreatmentSection .TitleSection {
    inline-size: 760px;

    max-inline-size: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-inline: 20px;
  }

  .TreatmentSection .TitleSection .TitleContainer {
    inline-size: 100%;
  }
  /*****************************************Treatment********************************/

  .TreatmentSection .TreatmentContainer {
    overflow: hidden;
  }

  .TreatmentSection .TreatmentContainer::before {
    inline-size: 50%;
    block-size: 50%;

    display: block;
    content: "";
    position: absolute;
    left: 50%;
    top: -60%;

    background-color: var(--primary-color-dark);

    opacity: 0.2;

    transform: rotateZ(45deg);

    animation: climbTwo ease-in-out 8000ms infinite;
  }
  .TreatmentSection .TreatmentContainer::after {
    inline-size: 100%;
    block-size: 100%;

    display: block;
    content: "";
    position: absolute;
    left: 60%;
    top: 80%;

    background-color: var(--primary-color-dark);

    opacity: 0.1;

    transform: rotateZ(45deg);

    animation: climbOne ease-in-out 5000ms infinite;
  }
  .TreatmentSection .TreatmentContainer:nth-of-type(2):before {
    left: -30%;
    top: -60%;

    background-color: var(--primary-color);
  }
  .TreatmentSection .TreatmentContainer:nth-of-type(2)::after {
    left: -20%;
    top: 80%;
    background-color: var(--primary-color);
  }

  .TreatmentSection .TreatmentContainer .LogoIcon {
    inline-size: 400px;
    block-size: 400px;

    position: absolute;

    background-color: white;
    left: 0%;
    bottom: -20%;

    mask-image: url("/icons/marca-logo-mini.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    mix-blend-mode: soft-light;
  }
  .TreatmentSection .TreatmentContainer:nth-of-type(3) .LogoIcon {
    background-color: white;
    left: auto;
    right: 0%;
    bottom: -20%;

    mask-image: url("/icons/marca-logo-mini.svg");
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;

    mix-blend-mode: soft-light;
  }
  /*************************************Facial*************************************************/
  .TreatmentSection .FacialSection {
    justify-content: flex-end;
  }

  .TreatmentSection .FacialSection .Decoration {
    inline-size: 25%;

    position: relative;
    right: 0px;

    background-size: 140%;
  }

  .TreatmentSection .FacialSection .Content {
    inline-size: 400px;

    padding: 8px;

    justify-content: flex-end;
  }

  .TreatmentSection .FacialSection .Content a {
    inline-size: 280px;
    block-size: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  /*****************************Corporal***************************************/

  .TreatmentSection .CorporalSection {
    justify-content: flex-end;
  }

  .TreatmentSection .CorporalSection .Decoration {
    inline-size: 28%;

    position: relative;
    left: 0px;

    background-size: 170%;
  }

  .TreatmentSection .CorporalSection .Content {
    inline-size: 400px;

    padding: 8px;

    justify-content: flex-end;
  }

  .TreatmentSection .CorporalSection .Content a {
    inline-size: 300px;
    block-size: 56px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
@media (1280px <= width <= 1920px) {
  .TreatmentSection .TreatmentContainer .LogoIcon {
    left: 10%;
  }
  .TreatmentSection .TreatmentContainer:nth-of-type(3) .LogoIcon {
    right: 10%;
  }

  /*****************************Corporal***************************************/

  .TreatmentSection .CorporalSection .Decoration {
    inline-size: 28%;
    block-size: 100%;

    flex-shrink: 0;
    position: relative;
    left: 0px;

    background-image: url("/tratamientos-corporales.webp");

    background-size: 150%;
    background-position: -210px 0px;
    background-repeat: no-repeat;
  }
}
