.TreatmentSection {
  inline-size: 100%;
  block-size: auto;

  padding-block-start: 40px;
}

.TreatmentSection .TitleSection {
  padding-inline: 20px;

  position: relative;
}

.TreatmentSection .TitleSection .TitleContainer {
  position: relative;
  z-index: 2;
}

.TreatmentSection .TitleSection .Decoration_Icon {
  inline-size: 180px;
  block-size: 180px;

  position: absolute;
  top: 28px;
  right: -20px;

  background-color: rgb(220, 220, 220);

  mask-image: url("/tratamientos.svg");

  mask-position: center bottom;
  mask-size: contain;
  mask-repeat: no-repeat;

  z-index: 0;

  mix-blend-mode: soft-light;
}
/*************************************Facial*************************************************/
.TreatmentSection .FacialSection {
  position: relative;

  inline-size: 100%;
  block-size: 400px;

  position: relative;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  background-color: rgb(217, 221, 225);
}

.TreatmentSection .FacialSection .Decoration {
  inline-size: 40%;
  block-size: 100%;

  flex-shrink: 0;

  position: absolute;
  right: 0px;

  background-image: url("/tratamientos-faciales.webp");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.TreatmentSection .FacialSection .Content {
  inline-size: 60%;

  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.TreatmentSection .FacialSection .Content p {
  inline-size: 100%;

  color: var(--primary-color-dark);

  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.TreatmentSection .FacialSection .Content a {
  inline-size: 180px;
  block-size: auto;

  margin-block-start: 12px;

  padding-inline: 24px;
  padding-block: 8px;

  position: relative;

  border: 3px solid rgb(44, 92, 112);

  border-radius: 40px;

  font-size: 14px;
  color: #1c5b7f;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
/*****************************Corporal***************************************/

.TreatmentSection .CorporalSection {
  position: relative;

  inline-size: 100%;
  block-size: 400px;

  position: relative;

  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;

  background-color: rgb(196, 224, 249);
}

.TreatmentSection .CorporalSection .Decoration {
  inline-size: 50%;
  block-size: 100%;

  flex-shrink: 0;
  position: absolute;
  left: 0px;
  background-image: url("/tratamientos-corporales.webp");

  background-size: cover;
  background-position: -210px 0px;
  background-repeat: no-repeat;
}

.TreatmentSection .CorporalSection .Content {
  inline-size: 60%;

  padding: 12px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.TreatmentSection .CorporalSection .Content p {
  inline-size: 100%;

  color: var(--primary-color-dark);

  text-align: center;
  font-size: 20px;
  line-height: 28px;
}

.TreatmentSection .CorporalSection .Content a {
  inline-size: 180px;
  block-size: auto;

  margin-block-start: 12px;

  padding-inline: 24px;
  padding-block: 8px;

  position: relative;

  border: 3px solid rgb(44, 92, 112);

  border-radius: 40px;

  font-size: 14px;
  color: #1c5b7f;
  text-decoration: none;
  text-align: center;
  font-weight: 800;
  text-transform: uppercase;
}
