@media (600px<= width < 1024px) {
  .IndividualSection {
    flex-direction: row;

    overflow: hidden;
  }

  .IndividualSection .SectionContainer {
    overflow: visible;
  }

  /*********************************************************************************************/
  .IndividualSection .Process {
    inline-size: 40%;

    position: absolute;
    top: 120px;
    right: 48px;
    order: 3;
  }

  /******************************************************************************************/
  .IndividualSection p {
    inline-size: 248px;
  }

  /*******************************************************************************************/

  .IndividualSection .Decoration_Icon {
    position: absolute;
    top: 100px;
    right: -50px;
  }
}
