.InformationTopBanner {
  inline-size: 100%;
  block-size: 48px;

  padding-inline: 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: var(--primary-color-dark);

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.201);
}

.InformationTopBanner .Phone {
  display: flex;
  align-items: center;
  justify-items: center;

  gap: 4px;

  font-size: 16px;
  color: #e7eaeb;
}
.InformationTopBanner .Phone .Icon {
  inline-size: 24px;
  block-size: 24px;

  display: inline-block;

  background-color: #c2c9cc;

  mask-image: url("/icons/call-icon.svg");
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
}
