.HeaderSection {
  inline-size: 100%;
  block-size: 60px;

  padding-inline: 16px;
  padding-block: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  top: 0px;

  background-color: var(--primary-color-dark);

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.292);

  z-index: 10000;

  transition: all ease-in-out 300ms;
}

.HeaderSection.hero_state {
  inline-size: 100%;
  block-size: 92px;

  background-color: transparent;
  box-shadow: none;

  top: 60px;
}

.HeaderSection .LogoContainer {
  display: flex;

  align-items: center;
  gap: 4px;
}

.HeaderSection.hero_state .Logo {
  inline-size: 60px;
  block-size: 80px;
  background-color: var(--primary-color-dark);
}

.HeaderSection .Logo {
  inline-size: 60px;
  block-size: 50px;

  background-color: var(--primary-color);

  mask-image: url("/icons/marca-logo-mini.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: all ease-in-out 300ms;
}

.HeaderSection .Text {
  inline-size: 100px;
  block-size: 60px;
  background-color: var(--primary-color);

  mask-image: url("/icons/marca-texto.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.HeaderSection.hero_state .Menu {
  background-color: var(--primary-color-dark);
}

.HeaderSection .Menu {
  inline-size: 32px;
  block-size: 32px;

  background-color: var(--primary-color);

  mask-image: url("/icons/menu-icon.svg");
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}
/*****************************************************************************************/
.NavMenu {
  inline-size: 100%;
  block-size: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color-dark) !important;

  position: relative;
}

.NavMenu .CloseButton {
  inline-size: 32px;
  block-size: 32px;

  background-color: transparent;

  position: absolute;

  border: none;

  top: 20px;
  right: 20px;
}
.NavMenu .CloseButton .Icon {
  inline-size: 100%;
  block-size: 100%;

  display: inline-block;

  background-color: #e8e1e1;

  mask-image: url("/icons/close-icon.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.NavMenu .NavList {
  inline-size: 100%;
  block-size: auto;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;

  gap: 20px;

  font-size: 18px;
}

.NavMenu .NavList .LogoContainer {
  margin-block-end: 8px;

  display: flex;

  align-items: center;
  justify-content: center;

  gap: 4px;
}

.NavMenu .NavList .Logo {
  inline-size: 100px;
  block-size: 100px;

  background-color: var(--primary-color);

  mask-image: url("/icons/marca-logo-mini.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: all ease-in-out 300ms;
}

.NavMenu .NavList .Text {
  inline-size: 160px;
  block-size: 100px;

  background-color: var(--primary-color);

  mask-image: url("/icons/marca-texto.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.NavMenu .NavList li.Item .Link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;

  text-decoration: none;

  color: #c6d1d5;
}
.NavMenu .NavList li.Item .Link .ArrowIcon {
  inline-size: 40px;
  block-size: 40px;
  display: inline-block;

  background-color: #edf0f3;

  mask-image: url("/icons/arrow-icon.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  transform: rotateZ(-90deg);
}

.NavMenu .NavList li.Item .Link .ArrowIcon.open {
  transform: rotateZ(90deg);
}
.NavMenu .NavList li.Item .Link .ArrowIcon.closed {
  transform: rotateZ(-90deg);
}
.NavMenu .NavList li.ItemCite {
  inline-size: 220px;
  padding-inline: 28px;
  padding-block: 12px;

  margin-block-start: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 40px;

  background-color: var(--primary-color);
  color: var(--primary-color-dark);
}

.NavMenu .NavList .InnerNavList {
  list-style-type: none;

  padding-block: 8px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 8px;
}
.NavMenu .NavList li.Item .InnerNavList .Link {
  font-size: 16px;

  color: #b6c2c6;
}
