.HeaderSection {
  inline-size: 100%;
  block-size: 92px;

  padding-inline: 16px;
  padding-block: 4px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: transparent;
  position: fixed;
  top: 60px;

  z-index: 10000;

  transition: all ease-in-out 300ms;
}

.HeaderSection.IsNotHero {
  inline-size: 100%;
  block-size: 60px;

  top: 0px;

  background-color: var(--primary-color-dark);

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.292);
}

.HeaderSection .LogoContainer {
  display: flex;
  align-items: center;
  gap: 4px;
}

.HeaderSection .Logo {
  inline-size: 60px;
  block-size: 80px;
  background-color: var(--primary-color-dark);

  mask-image: url("/icons/marca-logo-mini.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  transition: all ease-in-out 300ms;
}

.HeaderSection.IsNotHero .Logo {
  inline-size: 60px;
  block-size: 50px;

  background-color: var(--primary-color);
}

.HeaderSection .Text {
  inline-size: 100px;
  block-size: 60px;
  background-color: var(--primary-color);

  mask-image: url("/icons/marca-texto.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
}

.HeaderSection .Menu {
  inline-size: 32px;
  block-size: 32px;
  background-color: var(--primary-color-dark);
  mask-image: url("/icons/menu-icon.svg");
  mask-position: center;
  mask-size: contain;
  mask-repeat: no-repeat;
}

.HeaderSection.IsNotHero .Menu {
  background-color: var(--primary-color);
}
/*****************************************************************************************/
