@media (1024px <= width < 1920px) {
  .HeroSection {
    block-size: 600px;

    padding-block-start: 60px;

    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

    gap: 20px;
  }

  .HeroSection .Background::before {
    left: -80%;

    opacity: 0.4;
  }
  .HeroSection .Background::after {
    opacity: 0.2;
  }

  .HeroSection .TitleContainer {
    inline-size: 400px;

    margin-block-end: 100px;
  }

  .HeroSection .TitleContainer .TextLogo {
    block-size: 180px;
    inline-size: 440px;
  }

  .HeroSection .TitleContainer h2 {
    inline-size: 100%;
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
  }

  .HeroSection .TitleContainer a {
    font-size: 14px;
  }
}

@media (1100px < width < 1920px) {
  .HeroSection .Background::before {
    left: -80%;
    top: -20%;
  }
  .HeroSection .Background::after {
    left: 80%;
    top: 20%;
  }
}
@media (1360px < width < 1920px) {
  .HeroSection .Background::before {
    top: -40%;
  }
  .HeroSection .Background::after {
    top: 40%;
  }
}
@media (1600px < width < 1920px) {
  .HeroSection .Background::before {
    top: -60%;
  }
  .HeroSection .Background::after {
    top: 60%;
  }
}
