.HeroSection {
  inline-size: 100%;
  block-size: 780px;

  display: flex;
  flex-direction: column;

  align-items: center;

  padding-block-start: 140px;

  position: relative;
  overflow: hidden;
}

.HeroSection .Background {
  inline-size: 100%;
  block-size: 100%;

  position: absolute;
  top: 0px;

  background-image: url("/background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  z-index: -1;

  filter: brightness(160%) contrast(100%) grayscale(10%);
}

.HeroSection .TitleContainer {
  inline-size: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HeroSection .TitleContainer .TextLogo {
  inline-size: 100%;
  block-size: 90px;

  margin-block-end: 16px;

  background-color: var(--primary-color-dark);

  mask-image: url("/icons/marca-texto.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

.TitleContainer h1 {
  margin-block-end: 4px;
  font-size: 32px;
  line-height: 42px;
  font-weight: 800;
  color: var(--primary-color);
  text-align: center;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #c3e3f5 0%, #e4e2fd 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.155);
}

.HeroSection .TitleContainer h2 {
  inline-size: 80%;
  margin-block-end: 12px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 500;
  text-align: center;

  color: rgb(59, 71, 71);
}
.HeroSection .TitleContainer a {
  padding-inline: 20px;
  padding-block: 12px;

  border: 3px solid rgb(44, 92, 112);

  border-radius: 40px;

  font-size: 20px;
  color: #1c5b7f;
  text-decoration: none;
  text-align: center;
}
