.ConsultingSection {
  block-size: auto;

  padding-block-end: 40px;

  position: relative;

  background-color: var(--primary-color);
}

.ConsultingSection .TitleSection {
  padding: 20px;
  padding-block-start: 32px;
  padding-block-end: 0px;
}

.ConsultingSection .BackgroundAnimated {
  inline-size: 100%;
  block-size: 240px;

  position: relative;
  top: 0px;

  background-color: var(--primary-color-dark);
  /* background-image: url("/consulting_background-foreground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */

  overflow: hidden;
}

.ConsultingSection .BackgroundAnimated::before {
  inline-size: 100%;
  block-size: 100%;

  display: block;
  content: "";
  position: absolute;
  left: -10%;

  background-color: var(--primary-color);

  opacity: 0.2;

  transform: rotateZ(45deg);

  animation: climbTwo ease-in-out 8000ms infinite;
}
.ConsultingSection .BackgroundAnimated::after {
  inline-size: 100%;
  block-size: 100%;

  display: block;
  content: "";
  position: absolute;
  left: 10%;

  background-color: var(--primary-color);

  opacity: 0.1;

  transform: rotateZ(45deg);

  animation: climbOne ease-in-out 5000ms infinite;
}

.ConsultingSection .BackgroundAnimated .AnimatedObject {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.491));
}

.ConsultingSection .BackgroundAnimated .AnimatedObject:nth-of-type(1) {
  inline-size: 40%;
  block-size: 40%;

  position: absolute;
  top: -10px;
  left: -10px;

  background-image: url("/plato-con-granos.png");

  rotate: -35deg;

  animation: movementOne ease-in-out 10s forwards infinite;
}

.ConsultingSection .BackgroundAnimated .AnimatedObject:nth-of-type(2) {
  inline-size: 20%;
  block-size: 20%;

  position: absolute;
  top: 0px;
  right: 40px;

  background-image: url("/tason-negro-naranja.png");

  rotate: 35deg;

  animation: movementOne ease-in-out 15s forwards infinite;
}
.ConsultingSection .BackgroundAnimated .AnimatedObject:nth-of-type(3) {
  inline-size: 19%;
  block-size: 19%;

  position: absolute;
  top: 50px;
  right: -10px;

  background-image: url("/tason-blanco-verde.png");

  rotate: 90deg;

  animation: movementOne ease-in-out 15s forwards infinite;
}

.ConsultingSection .BackgroundAnimated .AnimatedObject:nth-of-type(4) {
  inline-size: 22%;
  block-size: 22%;

  position: absolute;
  top: 120px;
  left: -10px;

  background-image: url("/tason-blanco-small-naranja.png");

  rotate: 90deg;

  animation: movementOne ease-in-out 15s forwards infinite;
}

.ConsultingSection .BackgroundAnimated .AnimatedObject:nth-of-type(5) {
  inline-size: 19%;
  block-size: 19%;

  position: absolute;
  bottom: 4px;
  left: 60px;

  background-image: url("/tason-blanco-small-red.png");

  rotate: 35deg;

  animation: movementOne ease-in-out 15s forwards infinite;
}
.ConsultingSection .BackgroundAnimated .AnimatedObject:nth-of-type(6) {
  inline-size: 25%;
  block-size: 25%;

  position: absolute;
  bottom: -20px;
  right: 60px;

  background-image: url("/tason-blanco-grande-naranja.png");

  rotate: -35deg;

  animation: movementOne ease-in-out 15s forwards infinite;
}

.ConsultingSection .BackgroundAnimated .AnimatedObject:nth-of-type(7) {
  inline-size: 60%;
  block-size: 60%;

  position: absolute;
  bottom: 20%;
  right: 20%;

  background-image: url("/frasco.png");

  rotate: -15deg;

  animation: movementOne ease-in-out 15s forwards infinite;
}
.ConsultingSection .Decoration_Icon {
  inline-size: 120px;
  block-size: 120px;

  position: absolute;
  top: 68px;
  right: -10px;

  background-color: rgb(220, 220, 220);

  mask-image: url("/doctora-icon.png");

  mask-position: center bottom;
  mask-size: contain;
  mask-repeat: no-repeat;

  z-index: 0;

  mix-blend-mode: soft-light;
}
/*******************************************MiroSection**************************************/

.ConsultingSection .MicroSection {
  margin-inline: 12px;
  margin-block: 20px;

  padding: 40px;
  padding-inline: 40px;
  padding-block-end: 4px;

  position: relative;

  background-color: rgb(224, 230, 234);

  padding-block-end: 148px;

  border-radius: 12px;
}
/* .ConsultingSection .MicroSectionContainer .MicroSection:nth-of-type(3) {
  padding-block-end: 280px;
}
.ConsultingSection .MicroSection:nth-of-type(4) {
  padding-block-end: 240px;
} */

.ConsultingSection .MicroSection .HeaderContainer {
  position: relative;
}

.ConsultingSection .MicroSection .HeaderContainer h5 {
  inline-size: 100%;
  margin-block-end: 8px;

  font-family: "Times New Roman", Times, serif;
  font-size: 26px;

  color: var(--primary-color-dark);

  z-index: 8;
}

/* .ConsultingSection .MicroSection:nth-of-type(3) .HeaderContainer .Decoration {
  inline-size: 180px;
  block-size: 180px;
  position: absolute;
  top: -48px;
  right: -40px;

  background-size: contain;
  background-image: url("/dermocosmetica.webp");
  background-position: center top;
} */

.ConsultingSection .MicroSection p {
  font-size: 20px;
  color: #232327;
}

.ConsultingSection .MicroSection .Decoration {
  inline-size: 100%;
  block-size: 160px;

  position: absolute;
  bottom: 0px;
  left: 0px;

  background-position: center top;
  background-size: 60%;
  background-image: url("/dermocosmetista.webp");
  background-repeat: no-repeat;

  z-index: 3;
}

/* .ConsultingSection .MicroSection:nth-of-type(3) p span {
  display: inline-block;
  padding-inline-start: 150px;
} */

/* .ConsultingSection .MicroSection:nth-of-type(4) p span {
  display: inline-block;
  padding-inline-end: 150px;
}
.ConsultingSection .MicroSection .Decoration {
  inline-size: 320px;
  block-size: 200px;

  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
}

.ConsultingSection .MicroSection:nth-of-type(4) .Decoration:nth-of-type(1) {
  position: absolute;
  top: -60px;
  right: -120px;

  background-image: url("/nutricosmetica.webp");
}
.ConsultingSection .MicroSection:nth-of-type(4) .Decoration:nth-of-type(2) {
  inline-size: 110%;
  block-size: 440px;
  position: absolute;
  bottom: 0px;
  left: 0px;

  background-position: left bottom;
  background-size: contain;
  background-image: url("/nutricionista.webp");

  z-index: 0;
} */
/******************************Animations*********************************/

@keyframes movementOne {
  0% {
    transform: translateX(50px);
  }

  50% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(50px);
  }
}
